<div class="blog-post-content rte page-prose">
  <rte-formatter>
    {{ article.content }}
  </rte-formatter>
</div>

{% schema %}
{
  "name": "t:names.content",
  "settings": [],
  "presets": [
    {
      "name": "t:names.content"
    }
  ]
}
{% endschema %}
