<div
  class="page-prose{% if page.handle == 'shop-the-build' %} page-prose--hub{% endif %}"
>
  <rte-formatter>
    {{ page.content }}
  </rte-formatter>
</div>

{% schema %}
{
  "name": "t:names.page_content",
  "class": "rte"
}
{% endschema %}
